* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
  display: flex;
  align-items: center;
  width: 100vw;
  height: 60px;
  background-color: var(--bs-dark);
  color: var(--bs-white);
}

.todo-item {
  transition: background-color 0.3s ease;
  padding-top: 0.8rem;
}

.todo-item:hover {
  background-color: var(--bs-light);
}

#input-new-mission {
  border: 1px solid var(--bs-primary) !important;
  cursor: text;
}

label {
  cursor: text;
}

.form-check-input,
i,
p {
  cursor: pointer;
}

.width-container {
  margin: auto;
  width: 80%;
  padding: 0 2px 0 2px;
}

.btn-outline-secondary.dropdown-toggle {
  border: 0;
}

.width-container {
  width: 100%;
}

#day-filter-group-large,
#statu-filter-group-large {
  display: none;
}

#day-filter-group-medium,
#statu-filter-group-medium {
  display: block;
}

.button-text-color-large,
.button-text-day-large {
  display: none;
}

footer div {
  flex-direction: column;
}
