* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
}

:root {
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-danger: #dc3545;
  --bs-warning: #ffc107;
  --bs-info: #0dcaf0;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-white: #ffffff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
  display: flex;
  align-items: center;
  width: 100vw;
  height: 60px;
  background-color: var(--bs-dark);
  color: var(--bs-white);
}

.todo-item {
  transition: background-color 0.3s ease;
  padding-top: 0.8rem;
}

.todo-item:hover {
  background-color: var(--bs-light);
}

#input-new-mission,
label {
  cursor: text;
}

.form-check-input {
  cursor: pointer;
}

i,
p {
  cursor: pointer;
}
