# Node.js / React
node_modules/
build/
dist/
.env
*.log

# MacOS / Windows / Linux sistem dosyaları
.DS_Store
Thumbs.db

# VSCode ayarları
.vscode/

# npm debug log
npm-debug.log*

# Temporary files
*.tmp
*.bak
